<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The great button game</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var socket = io.connect();
            $("#one").click(function(){
                socket.emit("addone");
            });
            socket.on("res", function(num){
                $("num").text(num.num);
            });
// ==============================================
            $("#two").click(function(){
                socket.emit("addtwo");
            });
// ==============================================
            $("#reset").click(function(){
                socket.emit("reset");
            });
// ==============================================

        });
    </script>
</head>

<body>
    <h1>Hello. You clicked me <num><%= count %></num> times.</h1>
    <button id="one">Click ME</button>
    <button id="two">Click ME to add 2</button>
    <button id="reset">Reset</button>
</body>

</html>